{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
   
   {% if post.co-authors %}
   <p align="justify"><b>{{ post.title }}</b><br />
   <i>(Joint work with {{ post.co-authors }})</i><br />
   <i><p align="justify"><b>{{ post.stage }}</p>
   {% else %}
   <p align="justify"><b>{{ post.title }}</b><br />
   <i><p align="justify"><b>{{ post.stage }}</i><br /></p>
   {% endif %}
   

   {% if post.paper-url %}
   <p align="justify">{{ post.abstract }}<br />
   <a href="{{ post.paper-url }}">Click here for the latest version</a><br /></p>
   {% else %}
   <p align="justify">Abstract: {{ post.abstract }}<br /></p>
   {% endif %}

  </article>
</div>
